FLOWS~1.JSO
[{"id":"827d2b15.2597f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"2a80e421.4a1ccc","type":"ui_form","z":"827d2b15.2597f8","name":"","label":"Resale valu Predction","group":"608500c7.40d09","order":2,"width":0,"height":0,"options":[{"label":"Date Crawled","value":"dc","type":"date","required":true,"rows":null},{"label":"Name","value":"na","type":"text","required":true,"rows":null},{"label":"Seller","value":"se","type":"text","required":true,"rows":null},{"label":"Offer Type","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"VehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"Year Of Registration","value":"yr","type":"number","required":true,"rows":null},{"label":"Gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"PowerPS","value":"pp","type":"number","required":true,"rows":null},{"label":"Model","value":"mo","type":"text","required":true,"rows":null},{"label":"Kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"Month Of Registration","value":"mr","type":"number","required":true,"rows":null},{"label":"FuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"Brand","value":"br","type":"text","required":true,"rows":null},{"label":"notRepaired Damage","value":"rd","type":"text","required":true,"rows":null},{"label":"DateCreated","value":"da","type":"date","required":true,"rows":null},{"label":"nrOfPictures","value":"pi","type":"number","required":true,"rows":null},{"label":"PostalCode","value":"po","type":"number","required":true,"rows":null},{"label":"LastSeen","value":"ls","type":"date","required":true,"rows":null}],"formValue":{"dc":"","na":"","se":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","km":"","mr":"","ft":"","br":"","rd":"","da":"","pi":"","po":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":420,"wires":[["ea8a56c1.53ba68"]]},{"id":"a095d5a0.b4e768","type":"inject","z":"827d2b15.2597f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["ea8a56c1.53ba68"]]},{"id":"ea8a56c1.53ba68","type":"function","z":"827d2b15.2597f8","name":"function1","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"da\",msg.payload.dc)\nglobal.set(\"pi\",msg.payload.pi)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"eObM828qaINuym2GgBVnlAgEzLqKkqba1r3aJUj-TJIe\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["eccc654d.bab9c8"]]},{"id":"eccc654d.bab9c8","type":"http request","z":"827d2b15.2597f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["3389f86c.6c07f8"]]},{"id":"3389f86c.6c07f8","type":"function","z":"827d2b15.2597f8","name":"function2","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar rd = global.get('rd')\nvar da = global.get('da')\nvar pi = global.get('pi')\nvar po = global.get('po')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"0fa13392-c74e-4e34-8002-bc117865ddd4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"],\"values\": [[dc,na,se,ot,at,vt,yr,gb,pp,mo,km,mr,ft,br,rd,da,pi,po,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["eac0246b.20ed98"]]},{"id":"eac0246b.20ed98","type":"http request","z":"827d2b15.2597f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3f7c42bb-2f6f-44c2-b443-4982eba4026b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":420,"wires":[["1d1629ee.9cd576"]]},{"id":"10a8db1.856fc25","type":"debug","z":"827d2b15.2597f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"1d1629ee.9cd576","type":"function","z":"827d2b15.2597f8","name":"function3","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["5387f29f.e3299c","10a8db1.856fc25"]]},{"id":"5387f29f.e3299c","type":"ui_text","z":"827d2b15.2597f8","group":"608500c7.40d09","order":3,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":500,"wires":[]},{"id":"608500c7.40d09","type":"ui_group","z":"","name":"Default","tab":"5a3fb772.359bc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a3fb772.359bc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]